.container {
    max-width:700px;
    height: 70px;
    border: solid blue 1px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom: 5px;
}
.container2 {
    max-width: 700px;
    height: 70px;
    border: solid blue 1px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-top: 5px;
}
.item {
    background-color: blue;
    width: 30px;
    height: 30px;
    margin-right: 35px;
    
}
.item2 {
    background-color: purple;
    width: 30px;
    height: 30px;
    margin-right: 35px;
}
